<%= form_with(model: texter, local: true) do |form| %>
  <% if texter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(texter.errors.count, "error") %> prohibited this texter from being saved:</h2>

      <ul>
        <% texter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_field :client_name %>
  </div>

  <div class="field">
    <%= form.label :message_description %>
    <%= form.text_area :message_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
