<p id="notice"><%= notice %></p>

<h1>Texters</h1>

<table>
  <thead>
    <tr>
      <th>Client name</th>
      <th>Message description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @texters.each do |texter| %>
      <tr>
        <td><%= texter.client_name %></td>
        <td><%= texter.message_description %></td>
        <td><%= link_to 'Show', texter %></td>
        <td><%= link_to 'Edit', edit_texter_path(texter) %></td>
        <td><%= link_to 'Destroy', texter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Texter', new_texter_path %>
